@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&family=Rubik+Glitch+Pop&display=swap');

/*familia de fuentes: 'Protest Guerrilla', sans-serif;
familia de fuentes: 'Rubik Glitch Pop', sistema-ui;*/

/*Home Responsive Inicia*/
header .navbar{
    min-height: 120px;
    background-color: rgba(165, 42, 42, 0.752);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    font-family: 'Protest Guerrilla', sans-serif;
}

.nav-link{
    color: aliceblue;
}

.jumbotron{
    background-image: url(/img/Bajaj-NS-125-Rouser-Pulsar-9-1.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
    display: grid;
    place-items: center;
}

.call{
    background-color: rgba(255, 255, 255, 0.685);
    margin-top: 100px;
    width: 70%;
    padding: 20px;
    border: 5px solid black;
    text-align: center;
}

.call a{
    background-color: brown;
    text-shadow: black;
    text-decoration: none;
    padding: 10px 20px;
}

.call a:hover{
    background-color: aliceblue;
    color: brown;
}
.call p{
    margin-bottom: 20px;
}

h2{
    margin-bottom: 0;
    padding: 10px;
    background-color: rgba(165, 42, 42, 0.879);
}

.curiosidades article{
    border: 20px solid white;
}

/*footer*/

.what{
    height: 40px;
    width: 40px;
    background-color: brown;
    position: fixed;
}

/*Home Responsive Fin*/

/*Inicio Indumentaria Responsive*/


.galeria{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 200px);
    padding: 20px;
    grid-gap: 20px;
}

.item{
    border: 2px solid black;
    background-color: #ffff;
    background-size: cover;
    background-position: center;
    transition: all 0.9;
}

.item:hover{
    transform: scale(1.09);
}

footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    padding: 20px;
    font-size: 18px;
}

.redes{
    margin-top: 20px;
}

.redes a{
    color: brown;
    text-decoration: none;
    letter-spacing: 15px;
    font-size: 30px;
}

/*media queries inicia*/

.item1{
    background-image: url(/img/1.jpg.jpg);
    border-radius: 15px;
}

.item2{
    background-image: url(/img/2.jpg.jpg);
    border-radius: 15px;
}       

.item3{
    background-image: url(/img/3.jpg.webp);
    border-radius: 15px;
}

.item4{
    background-image: url(/img/4.jpg.jpg);
    border-radius: 15px;
}   

.item5{
    background-image: url(/img/5.jpg.jpg);
    border-radius: 15px;
}

.item6{
    background-image: url(/img/6.jpg.jpg);
    border-radius: 15px;
}   

.item7{
    background-image: url(/img/7.1.jpg.jpg);
    border-radius: 15px;
}

.item8{
    background-image: url(/img/mujer-poniendose-casco-viaje-carretera-motocicleta_23-2149023868.avif);
    border-radius: 15px;
}   


@media only screen and ( min-width: 480px){
    .galeria{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
}

@media only screen and ( min-width: 768px) and (max-width: 1024px){
    .galeria{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: repeat(4, 200px);
    }
    .item2{
        grid-column: 2/4;
        grid-row: 1/2;
    }

    .item4{
        grid-column: 1/2;
        grid-row: 2/4;
    }
    .item5{
        grid-column: 3/4;
        grid-row: 2/4;
    }

    .item7{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .item8{
        grid-column: 2/3;
        grid-row: 3/5;
    }
}

@media only screen and ( min-width:1024px){
    .galeria{
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 200px 200px;
    }
}

/*Media queries fin*/

/*Fin Indumentaria Responsive*/


/*Inicio link Noticias*/

.noticias{
    width: 40%;
}

/*Fin de Link Noticias*/


/*Inicio de Link Ficha Tecnica*/

.container{
    height: 50vh;
    margin-top: 10%;
    display: flex;
    justify-content: center;

}

#logo1{
    background-image: url(/img/logo\ bmw.webp);
    border-radius: 15px;
}

#logo2{
    background-image: url(/img/Honda-Logo.png);
    border-radius: 15px;
}       

#logo3{
    background-image: url(/img/logo\ suzuki.webp);
    border-radius: 15px;
}

#logo4{
    background-image: url(/img/Logomarca2.png);
    border-radius: 15px;
}   

#logo5{
    background-image: url(/img/Logo\ royal.webp);
    border-radius: 15px;
}

#logo6{
    background-image: url(/img/download.png);
    border-radius: 15px;
}   

#logo7{
    background-image: url(/img/hero.png);
    border-radius: 15px;
}

#logo8{
    background-image: url(/img/s-l400.jpg);
    border-radius: 15px;
}   
/*Fin de Linf Ficha Tecnica*/



/*Inicio Link Equipamento */

video{
    height: auto;
    width: 100%;
}

#img1{
    background-image: url(/img/Baul\ 1.jpg.jpg);
    border-radius: 15px;
}

#img2{
    background-image: url(/img/Defensas\ 2.jpg.webp);
    border-radius: 15px;
}       

#img3{
    background-image: url(/img/Equipamento.jpg.webp);
    border-radius: 15px;
}

#img4{
    background-image: url(/img/Exploradora.jpg.webp);
    border-radius: 15px;
}   

#img5{
    background-image: url(/img/Luces.jpg.webp);
    border-radius: 15px;
}

#img6{
    background-image: url(/img/parabrisa.jpg.webp);
    border-radius: 15px;
}   

#img7{
    background-image: url(/img/portacilular.jpg.jpg);
    border-radius: 15px;
}

#img8{
    background-image: url(/img/Portaequi.jpg.webp);
    border-radius: 15px;}

/*Fin Link Equipamento*/